<ion-view title="{{'Books Online' | translate}}">
    <ion-content>
        <div class="slide-wrapper">
            <ion-slide-box active-slide="activeSlide" does-continue="true" auto-play="true" on-slide-changed="slideChanged(index)" show-pager="false">
                <ion-slide>
                    <div class="slide">
                        <img ng-src="img/pictures/3.jpg" class="responsive-image" alt="Swipe me!">
                        <div class="slider-caption">
                            <h3>Swipe me!</h3>
                            <p>Hope you enjoy our latest item!</p>
                        </div>
                    </div>
                </ion-slide>
                <ion-slide>
                    <div class="slide">
                        <img ng-src="img/pictures/5.jpg" class="responsive-image" alt="Slider">
                        <div class="slider-caption" style="text-align: left">
                            <h3>Slider</h3>
                            <p>Our slider is awesome!</p>
                        </div>
                    </div>
                </ion-slide>
                <ion-slide>
                    <div class="slide">
                        <img ng-src="img/pictures/6.jpg" class="responsive-image" alt="Responsive">
                        <div class="slider-caption" style="text-align: right">
                            <h3>Responsive</h3>
                            <p>And it's fully responsive!</p>
                        </div>
                    </div>
                </ion-slide>
            </ion-slide-box>
        </div>
        <ion-list>

            <ion-item ng-repeat="book in books" type="item-text-wrap" href="#/main/book-detail/{{book._id}}">
                <h3>{{book.title}}</h3>
                <p>{{book.description}}</p>
                <ion-option-button class="button-balanced" ng-click="share(book)">
                    {{'Share' | translate}}
                </ion-option-button>
            </ion-item>

        </ion-list>

    </ion-content>
</ion-view>
