<ion-view title="{{'Login' | translate}}">
    <ion-content>

        <div class="list">
            <label class="item item-input">
                <span class="input-label">{{'Username' | translate}}</span>
                <input type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">{{'Password' | translate}}</span>
                <input type="password">
            </label>
        </div>

        <div class="padding">

            <div>
                <button class="button button-block button-positive" ng-click="login()">
                    {{'Login' | translate}}
                </button>
            </div>

        </div>

    </ion-content>
</ion-view>