<ion-side-menus enable-menu-with-back-views="true">

    <ion-side-menu-content>
        <ion-nav-bar class="bar-light bar-header-content">
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>

        <ion-nav-view name="page"></ion-nav-view>

    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar-dark">
            <div class="button-bar">
                <a class="button" href="#" ng-click="openFacebook()">
                    &nbsp;<i class="icon ion-social-facebook"></i></a>
                <a class="button" href="#" ng-click="openTwitter()">
                    &nbsp;<i class="icon ion-social-twitter"></i></a>
                <a class="button" href="#" ng-click="openWebsite()">
                    &nbsp;<i class="icon ion-ios-world-outline"></i></a>
                <a class="button" href="#" ng-click="openPhone()">
                    &nbsp;<i class="icon ion-ios-telephone"></i></a>
                <a class="button" href="#" ng-click="openMail()">
                    &nbsp;<i class="icon ion-ios-email-outline"></i></a>
            </div>
        </ion-header-bar>
        <ion-content>
            <div class="sidebar-logo">
                <img class="home-logo" ng-src="img/mask.png" alt="" />
                <hgroup>
                    <h1 class="title">SALA</h1>
                    <h2 class="subtitle">{{"Learning Buddha's Teaching" | translate}}</h2>
                </hgroup>
            </div>
            <ul class="list">
                <!-- Note each link has the 'menu-close' attribute so the menu auto closes when clicking on one of these links -->
                <a href="#/home/books-online" ui-sref="home.books-online" ui-sref-active="active" class="item item-icon-left item-icon-right" menu-close>
                    <i class="icon ion-home"></i>
                    {{'Home' | translate}}
                    <i class="icon ion-ios-arrow-right"></i>
                </a>
                <a href="#/main/bookshelf" ui-sref="main.bookshelf" ui-sref-active="active" class="item item-icon-left item-icon-right" menu-close>
                    <i class="icon ion-ios-book"></i>
                    {{'Bookshelf' | translate}}
                    <i class="icon ion-ios-arrow-right"></i>
                </a>
                <a href="#/page/setting" ui-sref="page.setting" ui-sref-active="active" class="item item-icon-left item-icon-right" menu-close>
                    <i class="icon ion-ios-gear"></i>
                    {{'Setting' | translate}}
                    <i class="icon ion-ios-arrow-right"></i>
                </a>
                <a href="#/page/about" ui-sref="page.about" ui-sref-active="active" class="item item-icon-left item-icon-right" menu-close>
                    <i class="icon ion-ios-person"></i>
                    {{'About' | translate}}
                    <i class="icon ion-ios-arrow-right"></i>
                </a>

            </ul>
        </ion-content>
        <ion-footer-bar class="bar-dark bar-footer-left">
            <div class="title">&copy; 2015 Jimmy Man</div>
        </ion-footer-bar>
    </ion-side-menu>

</ion-side-menus>
